#posts-index img {
  width: 300px;
}

#root {
   font-family: "Didot LT STD", "Hoefler Text", "Garamond", "Times New Roman", "serif";

  background: url("assets/topography.webp");

}

html {
  scroll-behavior: smooth;
}